//index page vars
$left-bg-color: #4d648d9a;
$right-bg-color: rgba(243, 74, 74, 0.5);
$hover-width: 75%;
$other-width: 25%;
$index-top-bg: rgba(255, 255, 255, 0.7);
//general vars
$dark-bg: #bcbabe;
$light: #f1f1f2;
$main-text: #262f34;
$accent-color-boy: #4d648d;
$accent-color-boy-hover: #283655;
$accent-color-girl: rgb(247, 125, 125);
$shadow: 3px 3px 20px $dark-bg;