//index page vars
$left-bg-color: rgba(87, 84, 236, 0.5);
$right-bg-color: rgba(247, 125, 125, 0.5);
$left-btn-hover-color: rgba(87, 84, 236, 1);
$right-btn-hover-color: rgb(247, 125, 125);
$hover-width: 75%;
$other-width: 25%;
$index-top-bg: rgba(255, 255, 255, 0.7);
//general vars
$red-color: red;
$dark-bg: #c1c1c1;
$light-bg: #f1f1f1;
$main-text: #222222;
$accent-color-boy: blue;